.error-container {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}
.error-container span {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #ff0000;
    font-weight: bold;
}
