.message-container {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    color: #008000;
    text-align: center;
    font-weight: bold;
}
.message-container span {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #008000;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}
